.register {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%),
        url("../../assets/register.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
                width: 100px;
                margin-right: 20px;
            }

            .link {
                text-decoration: none;
                .login-button {
                    border: none;
                    background-color: var(--appcolor);
                    color: var(--main-color);
                    border-radius: 5px;
                    padding: 5px 15px;
                    font-weight: 500;
                    cursor: pointer;
                }

                .login-button:hover {
                    background-color: rgb(179, 25, 25);
                }
            }
        }
    }
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        h1 {
            font-size: 50px;
            width: 630px;
            text-align: center;
        }
        h2 {
            margin: 15px;
        }
        p {
            font-size: 20px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .link {

            text-decoration: none;

            .register-button {
                background-color: var(--appcolor);
                color: var(--main-color);
                border: none;
                font-size: 16px;
                padding: 10px;
                border-radius: 4px;
            }

            .register-button:hover {
                background-color: rgb(179, 25, 25);
            }
        }
    }
}
