.category {
    font-size: 15px;
    color: var(--main-color);
    display: flex;
    align-items: center;

    h2{
        margin-top: 0px;
    }

    select {
        cursor: pointer;
        background-color: var(--main-color);
        color: var(--color);
        border: 1px solid var(--main-color);
        margin-left: 20px;
        padding: 8px;
    }

}