.bg {
    min-height: 100vh;

    .overview {
        font-family: "Montserrat", sans-serif;
        padding-top: 200px;
        line-height: 1;
        object-position: center;

        h2 {
            font-family: "Bebas Neue", cursive;
            font-size: 50px;
            text-shadow: 0 0 5px red, 0 0 8px black;
            margin-bottom: 0px;
            margin-top: 10px;
            margin-left: 30px;
            color: white;
        }

        display: flex;
        flex-direction: column;

        .desc {
            margin: 20px 30px;
            line-height: 1.8;
            font-weight: bold;
            text-shadow: 0 0 5px black;
            color: white;
        }
    }

    .bg-text {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        padding: 2rem;
        color:white;

        .button {
            border: none;
            text-decoration: none;
            background-color: rgba(0,0,0);
            color: white;
            cursor: pointer;
            font-family: "Montserrat", sans-serif;
        }
        .button:hover {
            color: red;
            font-size: larger;
            font-weight: bold;
        }

        .player {
            border: 5px solid red;
            border-radius: 10px;
        }
    }
}
